.container {
  position: relative;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
  letter-spacing: -0.05px;
  color: #4c4c56;
}

.input,
.textarea {
  padding: 0 10px;
  height: 40px;
  color: #4c4c56;
  resize: none;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: 200ms ease all;
  border: 1px solid #607d8b;
}

.input:focus,
.textarea:focus {
  box-shadow: rgba(67, 90, 111, 0.14) 0px 0px 2px inset,
    rgb(87, 154, 217) 0px 0px 0px 1px inset,
    rgba(16, 112, 202, 0.14) 0px 0px 0px 3px;
  outline: none;
}

.hasError {
  border-color: #eb5055;
}

.hasError:focus {
  border-color: #eb5055;
}

.readonly {
  box-shadow: rgba(67, 90, 111, 0.14) 0px 0px 0px 1px inset;
  background-color: rgb(245, 246, 247);
}

.readonly:focus {
  box-shadow: none;
  cursor: no-drop;
}

.textarea {
  line-height: 1.5em;
  height: 100px;
  padding: 10px;
}

.helperText {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  display: block;
  position: relative;
  bottom: 5px;
  color: #7cb342;
}

.error {
  color: #eb5055;
}

.enableResize {
  resize: both;
}
